.isNotValue {
  border: 1px solid red;
}
.box{
    padding: 70px;
    background-color: cornflowerblue;
}
.createGame {
    padding: 20px 40px;
    border: 2px solid #000;
    color: #fff;
    background: #000;
    margin-right: 30px;
    cursor: pointer;
}